*{
	font-family: Marat Sans;
}
html, body {
    height: 100%;
    margin: 0;
  }

h1 {
        font-family: Marat Sans;
        font-size: 38px;
        font-weight: 800;
        line-height: 36.96px;
        letter-spacing: 2px; 

        text-align: center;   
}

h2 {
    font-family: Marat Sans;
        font-size: 22px;
        font-weight: 300;
        line-height: 25px;
        letter-spacing: 1px; 
       
        text-align: center;   

}

p {
	font-weight: 400;
	line-height: 1.05rem;
	letter-spacing: normal;
	font-size: 1.0625rem;
	color: #5b5e6d;	
	margin: auto;
	line-height: 1.5;
	letter-spacing: normal;
    padding: 10px 0;
    text-align: center;
	
}
.splashScreen {
    background-color: lightseagreen;
    border: 1px solid lightseagreen;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.introductionScreen {
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    display: "none";
    justify-content: center;
    flex-direction: column;
}


.mapScreen {
    background-image: url("../img/game-map.jpg");
    background-size: cover;
    background-position: right;
    background-color: aqua;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    
    justify-content: center;
    flex-direction: column;
    display: none;

}

.Battle {
    display: none;
    background: lightblue;
    height: 100%;
    
}

.winScreen {
    display: none;
}

.gaveOverScreen {
    display: none;
}

.flex { 
    display:flex;
}

.field {
  min-width: 200px;
  min-height: 30px;
  margin: 10px 20px;
  font-size: 20px;
  color: #1d4d6f;
  
  font-weight: 500;
}

.button-field {
  height: 50px;
  width: 100%;
  font-size: 20px;  
  background: #1d4d6f;
  text-align: left;
  color: white;
  font-weight: 300;
  padding: 20px 20px 30px 20px;
  
  
}

button:active {
  background: #ffbf00;
  color: white;
}

.button-field:hover {
    background-color: #1d4d6f; /* Green */
    color: #ffbf00;
  }

.Quiz1 {
    display: none;
}

.main-title {
    
    width: 50%;
    float: left;
}

.title {
    font-family: Salty1;
    color: red;
    font: italic;
    font-size: 50px;
    align-items:  center;
    letter-spacing: 3px;
}
.game-body {
    font-family: Marat Sans;
    color: lightblue;

}

.btn-splash {
    
    width: 20%;
    
    
    
}
.start-splash {
        width: 100%;
        background-color:lightgoldenrodyellow;
        border-radius: 5px;
        padding: 20px 20px;
        font-size: 20px;
        color: black;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: normal;
        font-size: 0.8rem;
        letter-spacing: 1px;
        margin: 10px 0;
            
    
    }

    .btnEnemy {
        height: 100px;
        width: 100px;
        background-color:lightgoldenrodyellow;
        border-radius: 50%;
        padding: 20px 20px;
        font-size: 20px;
        color: black;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: normal;
        font-size: 0.8rem;
        letter-spacing: 1px;
        margin: 10px 0;
           
    
    }



    .katana-img {
    
    height: 150px;
	width: 150px;
    display: inline-block;

    
    }

    .Enemy1 {
        background-image: url("../img/fondo_550.png");
        width: 100%;
        background-size: 100% 100%;
        height: 100%;
        display: none;
        
    }
    
    .Enemy2 {
        background-image: url("../img/background2.png");
        display: none;
        width: 100%;
        background-size: 100% 100%;
        height: 100%;
    }
    
    .Enemy3 {
        background-image: url("../img/background3.png");
        display: none;
        width: 100%;
        background-size: 100% 100%;
        height: 100%;
    }

    .katana-sprite {
        height: 256px;
        position: relative;
        left: 30%;
        top: 550px;
    }

    .katana-sprite2 {
        position: relative;
        height: 256px;
        top: 550px;
        left: 30%;
    }
    .enemy1-PNG {
        height: 200px;
        width: 130px;
        position: relative;
        left: 50%;
        top: 550px;
    }

    .enemy2-PNG {
        height: 200px;
        width: 130px;
        position: relative;
        left: 50%;
        top: 550px;
    }
    .title-battle {
       padding-top: 60px;
       position: absolute;
       left: 50%;
    }
    #battles-played {
        color: white;
        
        position: relative; 
        left: 20%;
        top: 20px,
        
    }

    #battles-won {
        color: white;
        position: relative; 
        left: 20%;
        top: 5º0px,
        
    }


    .Dialogue1 {
        position: absolute;
        background: #f1f1f1;
        border-radius: .4em;
        top: 250px;
        width: 30%;
        padding: 10px;
        left: 10%;
        display: none;
    }
    
    .Dialogue1:after {
        content: '';
        position: absolute;
        bottom: 0;
        
        left: 10%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #f1f1f1;
        border-bottom: 0;
        border-right: 0;
        margin-left: -10px;
        margin-bottom: -20px;
    }

    .DialogueEnemy1 {
        position: absolute;
        background: #f1f1f1;
        border-radius: .4em;
        
        top: 250px;
        width: 30%;
        padding: 10px;
        right: 10%;
        display: none;
       
    }
    
    .DialogueEnemy1:after {
        content: '';
        position: absolute;
        bottom: 0; 
        right: 10%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #f1f1f1;
        border-bottom: 0;
        border-left: 0;
        
        margin-left: -10px;
        margin-bottom: -20px;
    }

    .reply {
        position: absolute;
        background: #f1f1f1;
        border-radius: .4em;
        top: 200px;
        width: 30%;
        padding: 10px;
        left: 10%;
        display: none;
    }
    
    .reply:after {
        content: '';
        position: absolute;
        bottom: 0;
        
        left: 10%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #f1f1f1;
        border-bottom: 0;
        border-right: 0;
        margin-left: -10px;
        margin-bottom: -20px;
    } 
    #id1 {
        position: absolute; 
        top: 250px;
        left: 30%;
        background-image: url("../img/enemy1-avatar.png");
        background-size: 80px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    #id1:active {
        background-color: #ffbf00;
    }
    #id2 {
        position: absolute; 
        top: 500px;
        left: 19%;
    }

    #id2:active {
        background-color: #ffbf00;
    }

    #id3 {
        position: absolute;
        right: 40%;
        top: 500px;
    }
    #id3:active {
        background-color: #ffbf00;
    }