*{
	font-family: Marat Sans;
}
html, body {
    height: 100%;
    margin: 0;
    max-width: 100%;
  }

h1 {
        font-family: Marat Sans;
        font-size: 38px;
        font-weight: 800;
        line-height: 36.96px;
        letter-spacing: 2px; 

        text-align: center;   
}

h2 {
    font-family: Marat Sans;
        font-size: 22px;
        font-weight: 300;
        line-height: 25px;
        letter-spacing: 1px; 
       
        text-align: center;   

}

p {
	font-weight: 400;
	line-height: 1.05rem;
	letter-spacing: normal;
	font-size: 1.0625rem;
	color: #5b5e6d;	
	margin: auto;
	line-height: 1.5;
	letter-spacing: normal;
    padding: 10px 0;
    text-align: center;
	
}
.splashScreen {
    background-color: lightseagreen;
    border: 1px solid black;
    max-width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    padding-top: 50px;
}
.introductionScreen {
    background-color: rgb(42, 100, 136);
    border: 1px solid lightskyblue;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    display: "none";
    flex-flow: column nowrap;
    padding: 20px 0 0 0; 
}
.num-battles {
    left: 20%;
    color: white;
    position: relative; 
    font-size: 20px;
    top: 20px;
}
.intro-box {
    
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
    padding: 30px;
}

.text-intro {
    align-self: center;
    
}
.textIntro {
    font-size: 20px;
    color: white;
}

.intro-img {

    align-self: flex-start;
  
}
.mapScreen {
    background-image: url("../img/game-map.jpg");
    background-size: cover;
    background-position: right;
    background-color: aqua;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    
    justify-content: center;
    flex-direction: column;
    display: none;

}

.Battle {
    display: none;
    background: lightblue;
    height: 100%;
    
}

.winScreen {
    display: none;
    background-color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.gaveOverScreen {
    display: none;
    background-color: black;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;


}
.gameOver {
margin: 0 auto; 
}

.flex { 
    display:flex;
}

.field {
  min-width: 200px;
  min-height: 30px;
  margin: 10px 20px;
  font-size: 20px;
  color: #1d4d6f;
  font-weight: 500;
}

.button-field {
  height: 50px;
  width: 100%;
  font-size: 20px;  
  background: #1d4d6f;
  text-align: left;
  color: white;
  font-weight: 300;
  padding: 20px 20px 30px 20px;
  
  
}

button:active {
  background: #ffbf00;
  color: white;
}

.button-field:hover {
    background-color: #1d4d6f; /* Green */
    color: #ffbf00;
  }

.Quiz1 {
    display: none;
}

.main-title {
    max-width: 100%;
    
   
}

.title {
    font-family: Salty1;
    color: red;
    font: italic;
    font-size: 60px;
    align-items:  center;
    letter-spacing: 3px;
}
.game-body {
    font-family: Marat Sans;
    color: lightblue;
    font-size: 24px;

}

.btn-splash {
    
    width: 20%;
    
    
    
}
.start-splash {
        width: 100%;
        background-color:lightgoldenrodyellow;
        border-radius: 5px;
        padding: 20px 20px;
        font-size: 20px;
        color: black;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: normal;
        font-size: 0.8rem;
        letter-spacing: 1px;
        margin: 10px 0;
            
    
    }

    .btnEnemy {
        height: 100px;
        width: 100px;
        background-color:lightgoldenrodyellow;
        border-radius: 50%;
        padding: 20px 20px;
        font-size: 20px;
        color: black;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: normal;
        font-size: 0.8rem;
        letter-spacing: 1px;
        margin: 10px 0;
           
    
    }

    .runner {
        
        width: 378.61px;
        height: 400px;
        background-image: url("../img/katana girl sprite/spritestest/sprites-katana-400.png");
        animation: run 0.7s steps(26) infinite, slide 2s steps(100) backwards 1; 
        margin-left: -30%;
        margin-right: 100%;
        
        
   
        
    }

    @keyframes run {
        /* 0% {background-position: 0px}; */
        100% {background-position: -9844px;}
    }

    @keyframes slide {
        100% {margin-right: -1800px;}
    }
    .introduction-katana {
        align-content: center;
        width: 602.93px;
        height: 345px;
        background-image: url("../img/katana girl sprite/spritestest/girl-withKatana.png");
        animation: move 1s steps(16) 2;
        margin-right: 100%;
        margin-left: 0%;
   
        
    }

    @keyframes move {
        100% {background-position: -9647px;}
    }

    
    .katana-img {
    
    height: 350px;
    width: auto;
    display: inline-block;
    }

    .Enemy1 {
        background-image: url("../img/fondo_550.png");
        width: 100%;
        background-size: 100% 100%;
        height: 100%;
        display: none;
        
    }
    
    .Enemy2 {
        background-image: url("../img/background2.png");
        display: none;
        width: 100%;
        background-size: 100% 100%;
        height: 100%;
    }
    
    .Enemy3 {
        background-image: url("../img/background3.png");
        display: none;
        width: 100%;
        background-size: 100% 100%;
        height: 100%;
    }

    .katana-sprite {
        height: 256px;
        position: relative;
        left: 30%;
        top: 550px;
    }

    .katana-sprite2 {
        position: relative;
        height: 256px;
        top: 560px;
        left: 30%;
    }
    .enemy1-PNG {
        height: 200px;
        width: 130px;
        position: relative;
        left: 50%;
        top: 550px;
    }

    .enemy2-PNG {
        height: 240px;
        
        position: relative;
        left: 50%;
        top: 550px;
    }
    .title-battle {
       padding-top: 60px;
       position: absolute;
       left: 35%;
    }
    

    .Dialogue1 {
        position: absolute;
        background: #f1f1f1;
        border-radius: .4em;
        top: 250px;
        width: 30%;
        padding: 10px;
        left: 10%;
        display: none;
    }
    
    .Dialogue1:after {
        content: '';
        position: absolute;
        bottom: 0;
        
        left: 10%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #f1f1f1;
        border-bottom: 0;
        border-right: 0;
        margin-left: -10px;
        margin-bottom: -20px;
    }

    .DialogueEnemy1 {
        position: absolute;
        background: #f1f1f1;
        border-radius: .4em;
        
        top: 250px;
        width: 30%;
        padding: 10px;
        right: 10%;
        display: none;
       
    }
    
    .DialogueEnemy1:after {
        content: '';
        position: absolute;
        bottom: 0; 
        right: 10%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #f1f1f1;
        border-bottom: 0;
        border-left: 0;
        
        margin-left: -10px;
        margin-bottom: -20px;
    }

    .reply {
        position: absolute;
        background: #f1f1f1;
        border-radius: .4em;
        top: 200px;
        width: 30%;
        padding: 10px;
        left: 10%;
        display: none;
    }
    
    .reply:after {
        content: '';
        position: absolute;
        bottom: 0;
        
        left: 10%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #f1f1f1;
        border-bottom: 0;
        border-right: 0;
        margin-left: -10px;
        margin-bottom: -20px;
    } 
    #id1 {
        position: absolute; 
        top: 250px;
        left: 30%;
        background-image: url("../img/enemy1-avatar.png");
        background-size: 80px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    #id1:active {
        background-color: #ffbf00;
    }

    #id1:hover {
        background-color: #ffbf00;
    }
    #id2 {
        position: absolute; 
        top: 500px;
        left: 30%;
        background-image: url("../img/cop-head.png");
        background-size: 80px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    #id2:active {
        background-color: #ffbf00;
    }

    #id2:hover {
        background-color: #ffbf00;
    }
    #id3 {
        position: absolute;
        right: 30%;
        top: 500px;
        background-image: url("../img/lydia-head.png");
        background-size: 80px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    #id3:active {
        background-color: #ffbf00;
    }

    #id3:hover {
        background-color: #ffbf00;
    }

    #hipster {
        position: absolute;
        background: #f1f1f1;
        border-radius: .4em;
        top: 50px;
        width: 20%;
        padding: 10px;
        left: 5%;
        background-color: rgba(255, 255, 255, 0.6);
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
          
           
        }
        
        

    .enemy-avatar {
        display: none;
        flex-direction: column;
    
    }

    #votante-Vox {
        position: absolute;
        background: #f1f1f1;
        border-radius: .4em;
        top: 300px;
        width: 20%;
        padding: 10px;
        left: 5%;
        background-color: rgba(255, 255, 255, 0.6);
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
      
       
    }
    


#maría-machista {
    position: absolute;
    background: #f1f1f1;
    border-radius: .4em;
    top: 200px;
    width: 20%;
    padding: 10px;
    right: 5%;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  
   
}

.vox-mapa {
    width: 70px;
  
    align-self: center;
}

.vox-mapa {
    width: 70px;
  
    align-self: center;
}
.hipster-mapa {
    width: 80px;
  
    align-self: center;
}

.mari-map {
    width: 80px;
  
    align-self: center;
}

.ml15 {
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
  
  .ml15 .word {
    display: inline-block;
    line-height: 1em;
  }